* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    text-align: center;
    min-width:100vh;
    background: rgba(13, 9, 68, 0.77);
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.header,
.footer {
    padding: 20px 0;
    background-color: #3b5656;
    color: #f0f;
    text-shadow: 0px 0px 20px #f0f;
}

.header__title {
    font-size: 40px;
}

.header__text {
    font-size: 18px;
}

.main {
    padding: 60px 10px 100px;
}

.card ,
.form {
    max-width: 400px;
    margin: 0 auto;
    background: #3b5656;
    box-shadow: 0px 0px 90px -40px rgb(0, 231, 255);
    border-radius: 5px;
    border: 2px solid rgb(0, 231, 255);
}

.card {
    margin-top: 30px;
    display: none;
    padding: 20px 0;
}

.form__label {
    margin: 25px 0;
    display: block;
}  

.form__input {
    width: 85%;
    border: 2px solid transparent;
    outline: none;
    transition: all .1s ease;
    padding: 10px;
}



.card__input:focus {
    border: 2px solid rgb(0, 231, 255);
}

.card__img-item {
    display: block;
    width: 85%;
    margin: 0 auto;
    height: auto;
    object-fit: cover;
}

.card__info {
    margin-top: 20px;
    background: #3b5656;
    color: #f0f;
}

.card__city {
    padding: 8px 0;
    font-size: 35px;    
}

.card__condition {
    padding: 4px 0;
    font-size: 20px;   
}

.card__temp {
    padding: 8px 0;
    font-size: 35px;   
}
