.header {
    background:linear-gradient(
        0deg,
        rgba(16, 29, 44, 0.93),
        rgba(16, 29, 44, 0.93)),
        url(../img/hero.jpeg) center/cover;

    grid-column: full-start / col-end 6;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content auto 1fr;
    grid-template-columns: auto;
    row-gap: 1.5rem;
    justify-content: center;

    @media screen and (max-width:800px){
        grid-column: full-start / -1;
    }

    @media screen and (max-width:425px){
        padding: 4rem; 
        justify-items: center;
        text-align: center;  
    }


    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__seenon-text {
        display: grid;
        font-size: 1.6rem;
        color: $color-grey-light-2;
        grid-template-columns: 1fr max-content 1fr;
        gap: 1.5rem;
        align-items: center;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        filter: brightness(70%);

        img{
            height: 2.5rem;

            @media screen and (max-width:425px){
                height: 5vw;    
            }
        }

    }

    &__btn{
        place-self: start;
        
        @media screen and (max-width:425px){
            place-self: center;
        }
    }


}
