.houses {
    grid-column: center-start / center-end;
    padding: 15rem 0;

    display: grid;
    gap: 7rem;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
}

.house {
    display: grid;
    font-size: 1.5rem;
    background-color: $color-grey-light-1;
    position: relative;

    grid-template-columns: repeat(2, 1fr);

    &__bookmark {
        font-size: 2.5rem;
        color: $primary-color;
        position: absolute;
        right: 10px;
        top: 10px;
        line-height: 0;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        grid-column: span 2;
    }

    &__title {
        color: $color-grey-light-1;
        background: $secondary-color;
        grid-column: span 2;
        justify-self: center;
        padding: 1rem 2rem;
        transform: translateY(-2rem);
        font-size: 1.6rem;
        font-weight: 400;
        width: 80%;
        text-align: center;
    }

    &__info {
        grid-column: span 2;
        display: grid;
        grid-template-columns: auto auto;
        gap: 4rem;
        align-items: center;
        margin-bottom: 4rem;
        justify-content: space-evenly;
    }

    &__icon {
        font-size: 2rem;
        color: $primary-color;
        margin-right: 1rem;
    }

    .btn {
        grid-column: span 2;
        text-align: center;
        font-weight: 400;
    }

}