.story {
    &__img{
        grid-column: full-start / col-end 4 ;
        position: relative;
        background-color: $primary-color;

        @media screen and (max-width:800px){
            grid-column: full-start / -1;
            grid-row: 6/7;
        }

        &-back {
            display: block;
            height: 100%;
            width: 100%;
            opacity: 0.6;
        }

        &-center {
            position: absolute;
            top: 50%;left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            box-shadow: 0 2rem 5rem rgba( #000000,0.1);

            @media screen and (max-width:800px){
                left: 35%;
                width: 60%;
            }
        }


        &-side {
            box-shadow: 0 2rem 5rem rgba( #000000,0.2);
            width: 60%;
            position: absolute;
            bottom:10%;
            right: -8%;

            @media screen and (max-width:800px){
                width: 45%;
                right: 6%;
                bottom:27%;
            }
        }

    }


    &__text {
        background-color: $color-grey-light-1;
        font-size: 1.6rem;
        padding:6rem 8vw;
        line-height: 1;
        grid-column: col-start 5 / full-end ;
        display: grid;
        align-content: center;

        @media screen and (max-width:800px){
            grid-column: 1 / full-end;
            grid-row: 5/5;
        }

        a {
            place-self: start;
        }

        p {

            font-style: italic;
            font-size: 1.5rem;
            line-height: 1.6;
        }

    }
}


.btn {
    text-decoration: none;
    background-color:$primary-color;
    color: $color-grey-light-1;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem 1.4rem 3rem;
    transition: all .2s;
}

.btn:hover {
    background-color:$primary-color-dark;
}