@keyframes fadeIn-header {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotateThisBitch {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.slide {
    height: 100vh;
    padding: 30px;
}

header {
    background: linear-gradient(
            to right bottom,
            rgba(85, 197, 122, 0.7),
            rgba(36, 180, 133, 0.7)
        ),
        url(../img/hero.jpg) center center/cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.header-top {
    display: flex;
    justify-content: space-between;
}
.header-top__logo img {
    height: 50px;
    width: auto;
}
.header-top__nav ul {
    list-style-type: none;
    display: flex;
}
.header-top__nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 20px;
    border: 1px solid #ffffff;
    margin-left: 20px;
    border-radius: 8px;
}

.header-descr {
    margin-top: -83px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-descr__main {
    color: #fff;
    text-transform: uppercase;
    animation: fadeIn-header 0.8s ease-in-out;
    backface-visibility: hidden;
}
.header-descr__btn {
    margin-top: 90px;
    text-align: center;
}
.header-descr__btn a {
    display: inline-block;
    color: #666666;
    padding: 15px 35px;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    margin-left: -80px;
    animation: fadeIn-header 1.2s ease-in-out;
    transition: all 0.7s;
}
.header-descr__btn a:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.bigtext {
    font-size: 65px;
    letter-spacing: 50px;
}

.smalltext {
    font-size: 21px;
    letter-spacing: 23px;
    margin-top: 30px;
    padding-left: 10px;
}

* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    color: #777;
}

.about {
    position: relative;
    padding-bottom: 100px;
}

.about__wrap h2 {
    background: linear-gradient(90deg, #7ed56f 40%, #24b485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
}

.about__content {
    margin-top: 30px;
    display: flex;
    padding-top: 100px;
}

.about__text {
    flex-basis: 47%;
    padding-left: 40px;
    font-size: 20px;
    color: #777;
    margin-right: 140px;
}
.about__text h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
}
.about__text p {
    margin-bottom: 37px;
}
.about__text a {
    display: inline-block;
    transition: all 0.7s ease;
    color: #24b485;
    text-decoration: none;
    padding: 8px 4px;
    border-bottom: 2px solid #24b485;
    margin-top: 10px;
}
.about__text a:hover {
    background: #24b485;
    color: #fff;
    border-radius: 4px;
}

.about__pictures {
    flex-basis: 35%;
    position: relative;
}
.about__pictures:hover img:not(:hover) {
    transform: scale(1.1);
}
.about__pictures img {
    position: absolute;
    transition: all 0.4s ease;
    width: 60%;
}
.about__pictures img:hover {
    transform: scale(1.4);
    padding: 5px;
    border: 2px solid #24b485;
    z-index: 10;
}
.about__pictures .img1 {
    top: 0%;
    left: 0%;
    transform: scale(1.2);
}
.about__pictures .img2 {
    top: 15%;
    left: 35%;
    transform: scale(1.2);
}
.about__pictures .img3 {
    left: 10%;
    top: 35%;
    transform: scale(1.2);
}

.features {
    padding: 150px 60px;
    background: linear-gradient(
            240deg,
            rgba(36, 180, 133, 0.7) 60%,
            rgba(126, 213, 111, 0.7) 100%
        ),
        url(../img/nat-4.jpg) center center/cover;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.features__box {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.features__box .features__item {
    position: relative;
    padding: 35px;
    text-align: center;
    flex-basis: 21%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.5s ease;
}
.features__box .features__item i {
    background: linear-gradient(90deg, #7ed56f 40%, #24b485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    color: #55c57a;
    margin-bottom: 25px;
}
.features__box .features__item h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 18px;
}
.features__box .features__item div {
    font-size: 16px;
    line-height: 1.6;
}
.features__box .features__item:hover {
    transform: translateY(-20px) scale(1.05);
}

.tours {
    padding-top: 50px;
    padding-bottom: 50px;
}
.tours h2 {
    background: linear-gradient(90deg, #7ed56f 40%, #24b485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
}

.tours__box {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 40px;
    margin: 0 auto;
}

.tours__sides {
    background: #fff;
    box-shadow: 1px 5px 25px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.tours__sides ul {
    list-style-type: none;
    padding: 20px 60px;
    font-size: 16px;
}
.tours__sides ul li {
    padding: 20px 0;
}
.tours__sides ul li:not(:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}

.tours__item-front {
    z-index: 2;
    transform: rotateY(0deg);
}

.tours__card-container:hover .tours__sides {
    transform: rotateY(180deg);
}

.tours__card-container {
    flex-basis: 30%;
    margin-top: 40px;
}

.tours__item-back {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101%;
    height: 100%;
    transform: translate(-50%, -50%) rotateY(180deg);
    backface-visibility: hidden;
}
.tours__item-back span {
    display: block;
    position: relative;
}
.tours__item-back span:first-child {
    padding-top: 50%;
    color: white;
    text-transform: uppercase;
}
.tours__item-back span:nth-child(2) {
    font-size: 80px;
    color: white;
    margin-bottom: 100px;
    margin-top: 40px;
    font-weight: 200;
}
.tours__item-back a {
    display: inline-block;
    color: #666666;
    padding: 15px 35px;
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
}

.tours__item-back--1 {
    background: linear-gradient(240deg, #ffb900, #ff7730);
}

.tours__item-back--2 {
    background: linear-gradient(240deg, #7ed56f, #28b485);
}

.tours__item-back--3 {
    background: linear-gradient(240deg, #2998ff, #5643fa);
}

.tours__item-head div {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    height: 240px;
}
.tours__item-head div span {
    padding: 8px 10px;
    line-height: 0.9;
    font-weight: 300;
    text-align: right;
    position: absolute;
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
}
.tours__item-head div .top-span {
    bottom: 24%;
    right: 0%;
}
.tours__item-head div .bot-span {
    bottom: 8%;
    right: 0%;
}

.tours__item-head .p1 {
    background: linear-gradient(
            240deg,
            rgba(255, 185, 0, 0.45) 60%,
            rgba(255, 119, 48, 0.45) 100%
        ),
        url(../img/nat-5.jpg) center center/cover;
}
.tours__item-head .p1 span {
    background: linear-gradient(
        180deg,
        rgba(255, 185, 0, 0.45) 60%,
        rgba(255, 119, 48, 0.45) 100%
    );
}

.tours__item-head .p2 {
    background: linear-gradient(
            240deg,
            rgba(126, 213, 111, 0.45) 60%,
            rgba(40, 180, 133, 0.45) 100%
        ),
        url(../img/nat-6.jpg) center center/cover;
}
.tours__item-head .p2 span {
    background: linear-gradient(
        180deg,
        rgba(126, 213, 111, 0.45) 60%,
        rgba(40, 180, 133, 0.45) 100%
    );
}

.tours__item-head .p3 {
    background: linear-gradient(
            240deg,
            rgba(41, 152, 255, 0.45) 60%,
            rgba(86, 67, 250, 0.45) 100%
        ),
        url(../img/nat-7.jpg) center center/cover;
}
.tours__item-head .p3 span {
    background: linear-gradient(
        180deg,
        rgba(41, 152, 255, 0.45) 60%,
        rgba(86, 67, 250, 0.45) 100%
    );
}

.stories {
    position: relative;
    padding-bottom: 100px;
}
.stories h2 {
    padding-top: 100px;
    margin-bottom: 100px;
    background: linear-gradient(90deg, #7ed56f 40%, #24b485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
}

.stories__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.stories__bg video {
    min-width: 100%;
    min-height: 100%;
}

.stories__story {
    padding: 3% 4%;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    width: 75%;
    margin: 0 auto;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}
.stories__story:last-child {
    margin-top: 60px;
}
.stories__story::after {
    display: table;
    content: "";
    clear: both;
}
.stories__story h4 {
    font-size: 18px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.stories__story p {
    font-size: 18px;
    line-height: 1.8;
    padding-left: 120px;
}

.stories__img {
    position: relative;
    border-radius: 50%;
    shape-outside: circle();
    overflow: hidden;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 40px;
}
.stories__img img {
    width: 150%;
    height: 150%;
    transition: 0.8s;
    position: relative;
    top: -40px;
    left: -36px;
    object-fit: cover;
}
.stories__img img:hover {
    transform: scale(0.7);
    webkit-filter: blur(2px) brightness(40%);
    filter: blur(2px) brightness(70%);
}

.booking {
    padding: 100px 0;
    background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.booking__container {
    background: #eee;
    max-width: 1144px;
    margin: 0 auto;
    background: url(../img/nat-10.jpg) center/cover;
}
.booking__container h2 {
    background: linear-gradient(to right bottom, #7ed56f, #28b485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 30px;
}

.booking__form {
    position: relative;
    padding: 60px 0 60px 40px;
    width: 65%;
    background: rgba(255, 255, 255, 0.8);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
.booking__form input {
    width: 60%;
    display: block;
    padding: 15px 25px;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.booking__form input[type="placeholder"] {
    color: rgba(158, 158, 158, 0.596);
}
.booking__form input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.booking__form label {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}
.booking__form label:first-child {
    margin-right: 20px;
}
.booking__form a {
    display: block;
    text-align: center;
    margin-top: 40px;
    width: 30%;
    padding: 15px 35px;
    background: linear-gradient(90deg, #7ed56f, #28b485);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    color: #fff;
    transition: all 0.7s;
}
.booking__form a:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.label-style {
    width: 60%;
    display: inline-flex;
    justify-content: space-between;
}

.checkmark {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 3px solid #28b485;
    border-radius: 50%;
    margin-right: 10px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-custom input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-custom .checkmark:after {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #28b485;
}

.footer {
    color: #fff;
    background: #333;
    padding: 40px 20px;
    font-size: 16px;
}

.footer__logo img {
    display: block;
    margin: 0 auto;
}

.footer__items {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto 0;
}
.footer__items ul {
    flex-basis: 500px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.footer__items ul li a {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.footer__items ul li a:not(:last-child) {
    margin-right: 12px;
}
.footer__items p {
    flex-basis: 400px;
    font-weight: 300;
}

.author {
    text-align: center;
    margin-top: 50px;
    font-weight: 300;
}

.burger {
    width: 70px;
    height: 70px;
    position: fixed;
    top: 40px;
    right: 40px;
    background-color: #000;
    z-index: 15;
    border-radius: 50%;
    cursor: pointer;
}

.burger-line {
    position: absolute;
    display: block;
    width: 70%;
    left: 11px;
    height: 3px;
    background: #fff;
    transition: 0.3s ease;
}
.burger-line--1 {
    top: 20px;
}
.burger-line--2,
.burger-line--3 {
    top: 50%;
    transform: translateY(-50%);
}
.burger-line--4 {
    bottom: 20px;
}

.burger_active .burger-line--1,
.burger_active .burger-line--4 {
    opacity: 0;
}

.burger_active .burger-line--2 {
    transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger-line--3 {
    transform: translateY(-50%) rotate(-45deg);
}

.overlay {
    display: none;
    background: linear-gradient(#7ed56f, #24b485);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    z-index: 5;
    text-align: center;
    transition: transform 1s ease;
}
.overlay ul {
    transition: 0.3s ease-out;
    position: relative;
    top: 50%;
    left: -65%;
    transform: translateY(-50%);
    list-style-type: none;
}
.overlay a {
    margin-bottom: 10px;
    width: 30%;
    color: #fff;
    display: inline-block;
    background: #bbbbbb;
    text-transform: uppercase;
    font-size: 35px;
    padding: 25px 35px;
    text-decoration: none;
    font-weight: 300;
}
.overlay a:hover {
    color: #55c57a;
}

.burger_active ~ .overlay ul {
    left: 0;
}

.burger_active ~ .overlay {
    display: inline-block;
    transform: translate(-50%, -50%);
}


@media screen and (min-width: 1300px) {
  .tours__card-container {
    flex-basis: 30%;
    padding: 0 40px 40px;
    margin-top: 40px;
}
}

@media screen and (max-width: 1265px) {

  .features__box .features__item {
    padding: 20px;
  }

  .tours__box {
    margin: 0 30px;
}

}

@media screen and (max-width:1130px) {

  .features {
    padding: 120px 10px;
  }
  .footer__items{
    display: block;
    width:70%;
  }

  .footer__items ul {
  padding-bottom: 30px;
}
}

@media screen and (max-width: 1065px) {
    .about__pictures img {
        position: relative;
        display: inline-block;
    }

    .about__pictures .img1 {
        top: 0%;
        left: 0%;
        transform: scale(1.2);
    }
    .about__pictures .img2 {
        top: 0%;
        left: 10%;
        transform: scale(1.2);
    }
    .about__pictures .img3 {
        left: 0%;
        top: 0%;
        transform: scale(1.2);
    }

    .features__box .features__item {
      padding: 10px;
    }

    .tours__box {
      padding: 10px;
      margin: 0;
  }

  .footer__items ul {
    flex-basis: 450px;
  }
}

@media screen and (max-width: 1024px) {
  .slide{
  height: 70vh;
    padding: 15px;
  }
  .bigtext {
    font-size: 75px;
  }
  .smalltext {
    font-size: 26px;
  }

  .header-descr {
    margin-top: -50px;
  }

  .header-descr__btn a {
    font-size: 26px;
  }

  
  .about__content {
   margin-top: 0;
   padding-top: 60px;  
   display: block;
  }

  .about__text {
    font-size: 24px;
    margin-right: 0;
    padding-left: 40px;
  }

  .about__pictures{
    position: relative;
    height: 150px;
    width: 80%;
    top: 55px;
    margin-left: 13%;
  }

  .about__pictures img {
    position: relative;
    width: 30%;
  }
  .about__pictures .img2 {
  top: -25%;
  left: 0%;
  }
  .about__pictures .img3{
  left: 0%;
  top: 0%;
  }

  .features {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    padding: 150px 60px;
  }

  .features__box {
    display: block;
    padding: 0;
  }
  .features__box .features__item{
  margin: 0 auto;
  margin-top: 60px;
  width: 60%;
  padding: 30px 10px;
  }

  .features__box .features__item i {
    font-size: 70px;
  }

  .features__box .features__item h3 {
    font-size: 30px;
  }
  .features__box .features__item div {
    font-size: 24px;
  }
  .features__box .features__descr {

  }

  .tours__box {
    display: block;
  }

  .tours__card-container{
    width: 55%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .tours__card-container:hover {
    transform: none;
  }

  .tours__item-head div {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    height: 260px;
  }

  .tours__item-head div .top-span {
    bottom: 35%;
    right: 0%;
  }

  .tours__item-head div .bot-span {
    bottom: 19%;
    right: 0%;
  }

  .tours__sides ul {
    padding: 20px 60px;
    font-size: 23px;
  }

  .tours__item-back {
    position: relative;
    top: 0;
    left: 0;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    transform: none;
    width: 100%;
  }

  .tours__item-back span:first-child {
    padding-top: 10%;

  }

  .tours__item-back span:nth-child(2){
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 300;
  }

  .tours__item-back a {
    margin-bottom: 30px;
  }

  .tours__card-container:hover .tours__sides {
    transform: rotateY(0deg);
}

.stories__story p {
    font-size: 24px;
    padding-left: 0;
}
    .stories__story {
        text-align: center;
        width: 90%;
    }
    .stories__story h4 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .stories__img {
        border-radius: 25%;
        margin: 0 auto 25px;
        float:none;
    }

    .booking__container {
        width: 100%;
    }

    .booking__form {
        text-align: center;
        padding:60px;
        clip-path: none;
        width: 100%;
    }

    .booking__form h2 {
        font-size: 44px;
    }
    .booking__form input {
        display: inline-block;
        width: 75%;
        font-size: 22px;
    }

    .label-style {
        width: 52%;
    }

    .checkmark {
        height: 40px;
        width: 40px;
        border-radius: 25%;
    }

    .booking__form a {
        margin: 40px auto 0;
        font-size: 28px;
        width: 50%;
        border-radius: 20px;
    }

    .footer__items {
        width: 90%;
    }
    .footer__items ul li a {
        font-size: 20px;
    }
    .footer__items p {
        font-size: 22px;
    }
    .label-style {
        width: 70%;
    }
    .booking__form label {
        font-size: 24px;
    }
    .booking__container h2 {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 885px) {
    .bigtext {
        letter-spacing: 22px;
    }

    .smalltext{
        letter-spacing: 13px;
    }

    .tours__card-container{
        width: 65%;
      }
      .booking__form label {
        font-size: 20px;
    }
}

@media screen and (max-width: 769px) {
    .bigtext {
        letter-spacing: 15px;
    }

    .smalltext{
        letter-spacing: 11px;
    }

    .tours__card-container{
        width: 65%;
      }


    .booking__form input {
        width: 100%;
    }
    .label-style {
        width: 90%;
    }
    .footer__items ul{
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: none;
    }
    .footer__items ul li {
        padding: 10px;
        border: 1px solid #eee;
        margin-bottom: 13px;
        width: 80%;
    }
    .footer__items ul li a {
        font-size: 25px;
    }
    .footer__items p {
        text-align: center;
    }


}

@media screen and (max-width: 600px) {
    .stories h2 {
        margin-bottom: 20px;
    }
    .header-top__logo img {
        height: 70px;
    }
    .header-descr {
        margin-top: -100px;
    }
    .bigtext {
        letter-spacing: 2px;
    }
    .smalltext {
        letter-spacing: 6px;
    }
    .header-descr__btn {
        margin-top: 60px;
    }
    .header-descr__btn a {
        margin-left: -20px; 
        font-size: 23px;
    }
    .features {
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
        padding: 80px 10px;
    }
    .features__box .features__item {
        width: 80%;
    }
    .tours__card-container {
        width: 90%;
    }

    .tours__card-container {
        width: 90%;
    }
    .tours__item-head div .top-span {
        bottom: 40%;
    }
    .tours__item-head div span {
        font-size: 50px;
    }
    .tours__sides ul {
        font-size: 30px;
    }
    .tours__item-back span:first-child {
        font-size: 30px;
    }
    .tours__item-back span:nth-child(2) {
        font-size: 85px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .tours__item-back a {
        padding: 15px 70px; 
        margin-bottom: 30px;
    }

    .booking__form {
        padding: 35px;
    }
    .label-style {
        display: flex;
        flex-direction: column;
    }
    .booking__form label {
        font-size: 25px;
    }
    .booking__form label:nth-child(2) {
        margin-top: 20px;
    }
    .booking__form a {
        width: 80%;
    }
    .about__text {
        padding-right: 20px;
    }
    .stories h2 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 475px) {
    .bigtext {
        letter-spacing: 0px;
        font-size: 65px;
    }
    .smalltext {
        letter-spacing: 0px;
        text-align: center;
    }
    h2 {
        padding: 30px;
    }
    .about__content {
        padding-top: 20px;
    }
    .about__pictures {
display: none;
    }
}

@media screen and (max-width: 425px) {
    .features__box .features__item {
        width: 100%;
    }
    .tours__card-container {
        width: 100%;
    }
    .stories__story {
        width: 100%;
        clip-path: none;
        background-color: rgba(255, 255, 255, 1);
    }
    .booking__form {
        padding: 0px 15px 30px;
    }
}

@media screen and (max-width: 400px){
    .bigtext {
        font-size: 60px;
    }
    .smalltext {
        font-size: 21px;
        margin-top: 15px;
    }
    .about__wrap h2 {
        font-size: 35px;
    }
    .features__box .features__item {
        margin-top: 45px;
        padding: 10px;
    }
    .features__box .features__item i {
        font-size: 60px;
    }
    .features__box .features__item h3 {
        font-size: 25px;
    }
    h2 {
        padding: 15px;
    }
    .tours__box {
        padding: 0;
    }
    .stories__story {
        padding: 8% 4%;
    }

    .footer__items ul li {
        width: 105%;}

}

@media screen and (max-width: 364px) {
    .header-descr__btn a {
        margin-left: 0px;
    font-size: 21px;
padding: 15px;}
        .bigtext {
            font-size: 55px;
        }
       
}

@media screen and (max-width: 364px) {
    .bigtext {
        font-size: 48px;
    }
}