.reserve {
    padding: 10rem 0;
    text-align: center;
    background: url(../imgs/about_bg.png) center/cover;
}

.reserve__container {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}

.reserve__images {
    width: 48.7%;
    display: flex;
    justify-content: space-between;
}

.reserve__images-item {
    width: 48%;
    object-fit: cover;
}

.reserve__content {
    width: 48.7%;
}

.reserve__content-wrapper {
    width: 75.6%;
    margin: 0 auto;
}

.reserve__descr {

}

.reserve__title {
    @extend %main_heading;
    color: $color-main;
}

.reserve__decor {
    margin-top: 1.2rem;
}

.reserve__text {
    margin-top: 2.7rem;
    font-size: 1.8rem;
    font-family: $text-lato;
    line-height: 1.5;
}

.form {
    margin-top: 4.2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: left;
}

.form__item{
    width: 46.5%;
}

.form__btn {
    margin: 3.1rem auto 0;
    font-size: 1.6rem;
    background: $color-main;
    color: whitesmoke;
    font-family: 'Opens Sans', sans-serif;
    padding: 1rem 5rem 0.7rem;
    border: none;
    cursor: pointer;
}

label {
    font-size: 1.4rem;
    color: $color-main;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 0.7rem;
    display: inline-block;
}

input {
    width: 100%;
    padding: 0.9rem 1.3rem 0.7rem;
}

input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-style: italic;
}

.form__date-input {
    height: 35px;
}

.form__number-label,
.form__date-label {
    margin-top: 2.4rem;
}