@media screen and (max-width : 1075px) {
    html {
        font-size: 52%;
    }

    .header__tagline {
        font-size: 7rem;
    }

    .about__review {
        padding: 7rem 0 7rem 5rem;
        flex-basis: 43.2%;
    }

    .about__dish {
        flex-basis: 40%;
    }

    .ingredients__images {
        padding: 0;
    }
    .ingredients__text {
        line-height: 1.8;
    }

}

@media screen and (max-width : 920px) {
    html {
        font-size: 52%;
    }

    .nav__link {
        padding:3rem 1.2rem;
    }

    .logo__img {
        height: 7rem;
        padding:.5rem 1rem;
    }
    .ingredients__wrapper {
        justify-content: center;
    }

    .ingredients__content {
        width: 60%;
        margin: 0;
    }

    .menu__column {
        padding: 0 2rem;
    }

    .reviews__content {
        width: 85%;
    }

    .reserve__images-item:nth-child(1) {
        display: none;
    }
    .reserve__images {
        width: auto;
    }
    .reserve__images-item {
        width: 100%;
    }
    .footer__item {
        width: 33.3%;
    }
}

@media screen and (max-width : 750px) {
    .nav {
        display: block;
    }
    .nav__link {
        padding: 1.5rem 0.9rem;
    }
    .nav__socials {
        color: whitesmoke;
        justify-content: center;
    }
    .header__tagline {
        font-size: 6rem;
    }
    .about__review {
        padding: 7rem 0 7rem 0rem;
        flex-basis: 80%;
    }

    .about__dish {
        display: none;
    }
    .ingredients__content {
        padding: 5rem 2rem;
    }

    .menu__wrapper {
        justify-content: center;
        flex-direction: column;
    }
    .menu__column {
        width: 100%;
        padding: 0 7rem;
    }

    .reserve__images {
        display: none;
    }

    .reserve__container {
        display: block;
    }
    .reserve__content {
        width: 100%;
    }
    .reserve__content-wrapper {
        width: 100%;
    }

    .footer__item-about {
        display: none;
    }
    .footer__item {
        width: 49%;
    }

    .footer {
        justify-content: space-evenly;
        padding: 5rem 2rem;
    }
}

@media screen and (max-width : 630px) {
    .nav {
        min-width: 319px;
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        flex-direction: column;
        background-color: #000000af;
        height: 100vh;
        top: -150%;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0;
        z-index: 2;
        transition: all 0.3s ease;
    }
    .nav__list {
        text-align: center;
        display: flex;
        font-size: 2rem;
        flex-direction: column;
        padding: 0 55px;
        margin-top: -10px;
    }
    .nav__link {
        padding: 2rem 0;
        background: #c1981e;
        margin-top: 20px;
        border-radius: 15px;
        display: block;
    }
    .nav__socials {
        justify-content: space-evenly;
    }
    .nav__socials-link {
        margin-left: 0;
        font-size: 5rem;
    }

    .logo__img {
        height: 12rem;
    }
    .header__content-wrapper {
        width: 100%;
        padding: 0 1rem;
    }

    .reviews__content {
        padding: 5rem 2rem;
        line-height: 34px;
    }

    .reviews__text {
        line-height: 34px;
    }
}

@media screen and (max-width : 480px) {
    .header__button {
        font-size: 1.6rem;
        margin: 0;
        padding:1rem 2rem;
    }

    .ingredients__images {
        display: none;
    }
    .ingredients__content {
        width: 90%;
    }

    .menu__column {
        padding: 0 1rem;
    }
    .reviews__text {
        font-size: 2rem;
    }

    .form {
        display: block;
        text-align: inherit;
    }
    .form__item {
        width: 100%;
    }

    .footer {
        display: block;
    }

    .footer__item {
        width: 100%;
    }

    .footer__decor-img {
        width: 55%;
    }

    .footer__item-address {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 1900px) {
    html {
        font-size: 75.5%;
    }
}