$text-sans: 'Open Sans', sans-serif;
$text-gentium :'Gentium Book Basic', serif;
$text-lato: 'Lato', sans-serif;
$text-yseva:'Yeseva One', cursive;

$color-main: #dab33e;


html {
    font-size: 62.5%;
}
