:root {
    --text-big : 36px;
    --text-medium: 24px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    text-align: center;
    background-color: #0A0333;
    color: #FF00A8;
}

header, main, footer {
    max-width: 1440px;
    padding: 80px 0;
    margin:0 auto;
    text-shadow: 0px 0px 25px #FF00A8;
}
 
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    margin:0 auto;
}

.borders {
    background-color: hsla(249, 89%, 11%, 0.5);
    box-shadow: inset 0px 0px 25px 10px rgba(255, 0, 168, 0.25);
    padding: 35px 0;
}
.heading {
    font-size: var(--text-big);
    margin-bottom: 30px;
}

.header {
    background: url(../pics/bg1.jpg) center/cover;
}
.header__content {
    width: 50%;
    margin:0 auto;
}

.header__text {
    font-size: var(--text-medium);
}
.main {
    background: url(../pics/bg2.jpg) center/cover;
}

.works__list {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    flex-wrap: wrap;
}

.works__item {
    padding: 10px;
    width: 250px;
    height: 250px;
    transition: transform .3s ease;
    position: relative;
}

.works__item-descr {
    position: absolute;
    right: 9px; top: 9px; left: 9px;
    padding: 10px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(.001);
    transition: transform 0.2s ease;
}


.works__item:hover {
    transform: scale(1.1);
}

.works__item:hover .works__item-descr {
    transform: scale(1);
}

.works__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.footer {
    background: url(../pics/bg3.jpg) center/cover;
}

.footer__links {
    display: flex;
    min-height: 220px;
    flex-wrap: wrap;
    padding: 0 35px;
}

.footer__links li {
    width: 50%;
    min-width: 220px;
    font-size: var(--text-medium);
    display: flex;
    justify-content: center;
    align-items: center;
}    

.footer__links a {
    transition: transform .3s ease; 
    padding: 15px 20px;
}

.footer__links a:hover {
    transform: scale(1.15);
}

@media screen and (max-width:1080px) {
    .works__list {
        justify-content: center;
    }

    .works__item:hover {
        transform: scale(1);
    }
}

@media screen and (max-width:1024px) {
    .works__item-descr {
        transform: scale(1);
    }

    .footer__links a:hover {
        transform: scale(1);
    }
}
@media screen and (max-width:1024px) {
    .footer__links {
        justify-content: center;
    }
}

