.header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header__top {
    background-color: var(--bgcolor-header-top);
}

.top-menu {
    color: #ffffff;
}

.top-menu__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0.630%;
}

.top-menu__list {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-main {
    padding-right:1.89%;
    border-right: 1px solid #40bf79;
}
.list-services {
    padding:0 1.89%;;
    border-right: 1px solid #40bf79;
    border-left: 1px solid #40bf79;
}
.list-contacts {
    padding-left: 1.89%;;
    border-left: 1px solid #40bf79;
}

.top-menu a {
    padding: 4px 0px;
    display: flex;
    align-items: center;
}
.top-menu a:hover {
    background-color: #33bb6f;
}


.top-menu__item {
    min-width: max-content;
}

.header__mid {
    background-color: #e8e7e7;
}
.logo-search-cart__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo,
.header-cart {
    display: flex;
}
.header-logo,
.header-providers,
.header-cart {
    flex-grow: 0;
}
.logo-search-cart__logo{
    margin-right: 5.825%;
}

.header-logo img {
    margin-right: 8px;
}
.header-logo__title {
    font-size: 33px;
    letter-spacing: -2px;
}
.logo-search-cart__search {
    flex-grow: 1;
}
.header-search {
    max-width: 885px;
}
.header-search form {
    display: flex;
}

.header-search__dropdown-trigger {
    background: #f1f1f1;
    border-radius: 3px 0px 0px 3px;
    padding-left:20px;
    padding-right:27px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header-search__dropdown-trigger::after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 6px;
    border: 8px solid transparent;
    border-top: 8px solid #3c3c3c;
}
.header-search__dropdown-content {
    opacity: 0;
    display: none;
    position: absolute;
    padding: 12px 36px 37px 14px;
    background-color: #f1f1f1;
    margin-top: 3px;
    transition: opacity .3s ease;
}

.header-search__dropdown-content--active {
    opacity: 1;
}

.header-search__dropdown-content span {
    margin-bottom: 30px;
    display: inline-block;
}

.header-search__dropdown-content li {
    cursor: pointer;
}

.header-search__dropdown-content li:not(:last-child) {
    margin-bottom: 9px;
}

.header-search__dropdown-content li:hover {
    color: var(--bgcolor-header-top);
}

.header-search input {
    flex-grow: 1;
    border: none;
    padding-left: 5px;
    width: 100%;
}

.header-search__btn {
    background-color: var(--color-highlight);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 3px 3px 0px;
    height: 35px;
    width: 49px;
}
.header-search__btn img{
    padding: 5px 14px;
}

.header-providers {
    width: 140px;
    font-size: 14px;
    flex-shrink: 0;
    letter-spacing: -0.7px;
    margin-left: 3.236%;
}
.header-providers a {
    display: flex;
    align-items: center;
}
.header-providers span{
    display: inline-block;
}
.header-providers span:nth-child(1) {
    margin-right: 5px;
}

.logo-search-cart__cart {
    margin-left: 2.265%;
    flex-shrink: 0;
}

.header-cart{ 
    padding: 16px 0;
    position: relative;
    letter-spacing: -1px;
}

.header-cart img {
    margin-right: 13px;
}

.header-cart div:nth-child(1) {
    display: flex;
    align-items: center;
}
.header-cart div:nth-child(3) {
    position: absolute;
    color: var(--color-highlight);
    font-size: 14px;
    top: 10%;
    left: 8%;
}

.header-cart:hover {
    color: #fff;
    background-color: var(--color-highlight);
}

.header-cart:hover div:nth-child(3) {
    color: #fff;
}

.header__bottom {
    background-color: #fff;
    box-shadow: 0px 14px 10px 0px rgba(0,0,0,0.2);
    position: relative;
    top: 0px;
    z-index: -1;
    transition: all .3s ease;
}
.header__bottom figure {
    text-align: center;
}
.hide-menu {
    top: -150px;
}
.products-menu__list {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.products-menu__list img {
    margin: 0 auto;
    display: block;
}

.mail {
    position: relative;
    cursor: pointer;
}

.mail__copy {
    position: absolute;
    top: 40px;
    z-index: 3;
    width:100%;
    display: none;
}

.mail__copy button{
    background-color: black;
    padding: 12.5px;
    color: #fff;
    border:none;
    width:100%;
    border-radius: 25px;
    cursor: pointer;
}

.callback {
    position: relative;
}

.callback__container {
    display: none;
}
.callback__bg {
    position: fixed;
    top: 48px; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.callback__window {
    position: absolute;
    padding: 56px 60px 66px 52px;
    right: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    width: 755px;
    z-index: 5;
    height: 364px;
}

.callback__phone {
    font-size: 24px;
    color: var(--bgcolor-header-top);
}
.callback__info {
    color: var(--color-text-unuccent);
    margin-bottom: 22px;
}
.callback__type-select {
    display: flex;
    flex-direction: column;
}
.callback__type-select label {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    margin-left: 8px;
}
.callback__type-select input:checked + label{
    border-bottom: 1px solid #000;
}
.callback__type-select input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.callback__type-item {
    margin-top: 17px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.callback__form {
    display: flex;
    flex-direction: column;
}
.callback__form input {
    margin-bottom: 16px;
    font-size: 18px;
    padding: 6px 13px;
    border: none;
    border-bottom: 2px solid #c6c6c6;
    outline: none;
}

.callback__form input:focus {
    border-color: var(--color-highlight);
}
.callback__form button {
    border: none;
    color: white;
    border-radius: 25px;
    background-color: var(--color-highlight);
    display: inline-flex;
    height: 45px;
    width: max-content;
    padding: 0 24px;
    align-items: center;
    cursor: pointer;
}
.callback__form-title {
    font-size: 24px;
}
.callback__form-subtitle {
    color: var(--color-text-unuccent);
    margin-bottom: 22px;
}

.callback__close {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 30px;
    color: red;
}



@media screen and (max-width:1450px) {
    .top-menu__list {
        font-size: 14px;
    }
}

@media screen and (max-width:1300px) {
    .list-main {
        padding-right:1%;
    }
    .list-services {
        padding:0 1%;;
    }
    .list-contacts {
        padding-left: 1%;;
    } 
}

@media screen and (max-width:1250px) {
    .top-menu__list,
    .products-menu__list,
    .header-search__dropdown {
        font-size: 12px;
    }
    
    .header-logo__title{
        display: flex;
        align-items: center;
        font-size: 28px;
    }
}

@media screen and (max-width:1120px) {
    .logo-search-cart__logo {
        margin-right: 1%;
    }
    .callback__window {
        width: 680px;
    }
}
@media screen and (max-width:1000px) {
    .top-menu__item span {
        display: none;
    }
    .mail__copy {
        left: -29px;
    }
    .mail__copy {
        width: max-content;
    }
}
@media screen and (max-width:767px) {
    .header__top,
    .header__bottom,
    .header__mid {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .mobile-header {
        display: none;
    }
}

.swiper-button-next, .swiper-button-prev {
    color: #7f7f7f;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 30px;
}

.products-menu__dropdown {
    display: block;
}
.products-menu__dropdown--small {
    display: none;
}
.products-menu__dropdown--big {
    display: none;
}

.products-menu__dropdown-bg {
    position: fixed;
    background: #0000008a;
    bottom: 0;
    top: 209px;
    left: 0;
    right: 0;
}

.products-menu__dropdown-content {
    display: flex;
    background-color: #fff;
    top: 100%;
    left: 0;
    position: absolute;
    font-size: 18px;

}
.products-menu__dropdown--small .products-menu__dropdown-content {
    width: 1170px;
}
.products-menu__dropdown--big .products-menu__dropdown-content {
    width: 1405px;
}

.products-menu__dropdown-list {
    padding: 26px 0;
}

.products-menu__dropdown--small .products-menu__dropdown-list {
    width: 34.18%;
}
.products-menu__dropdown--big .products-menu__dropdown-list {
    width: 28.46%;
}

.products-menu__dropdown-item {
    padding-left: 7.692%;
    padding-right: 6%;
    display: flex;
    align-items: center;
}

.products-menu__dropdown-item:after{
    content: ">";
    margin-left: auto;
}

.products-menu__dropdown-item a{
    padding: 10px 0;
    width: 100%;
    display: inline-block;
}


.products-menu__dropdown-item:not(:first-child) {
    border-top: 1px solid #f3f3f3;
}
.roducts-menu__dropdown-result {
    flex-grow: 1;
}

.params {
    display: flex;
    height: 100%;
}

.params__container {
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    padding-left: 2.564%;
    width: 28.03%;
    background-color: #f7f7f7;
}

.products-menu__dropdown--small .params__container {
    flex-grow: 1;
}

.products-menu__dropdown--small .params__container ul {
    padding-bottom: 18px;
}

.products-menu__dropdown--big .params__type {
    padding-bottom: 36px;
}

.params__container ul:not(:first-child) {
    border-top: 1px solid #f3f3f3;
}
.products-menu__dropdown--small .params__container ul:not(:first-child) {
    padding-top: 20px;
}

.products-menu__dropdown--big .params__country {
    padding-top: 36px;
}


.params__type li:not(:last-child){
    margin-bottom: 10px;
}

.products-menu__dropdown--big .params__brands-container {
    padding-top: 38px;
    flex-grow: 1;
    border-left: 1px solid #f3f3f3;
    background-color: #f7f7f7;
}
.products-menu__dropdown--big .params__brands {
    padding-left: 9.187%;
}

.params__brands li:not(:last-child){
    margin-bottom: 10px;
}

.params__brands li:not(:first-child){
    font-size: 24px;
}

.params__country a {
    display: flex;
    align-items: center;
}

.params__country img {
    margin-right: 6px;
}

.params__country li:not(:last-child){
    margin-bottom: 10px;
}

.params__brands li:first-child ,
.params__country li:first-child {
    color:var(--color-text-unuccent);
}

.products-menu__dropdown-img-wrapper {
    text-align: center;
    color: #fff;
}

.products-menu__dropdown--small .products-menu__dropdown-img-wrapper {
    background-color: var(--bgcolor-header-top);
    padding: 5.555%;
}
.products-menu__dropdown--big .products-menu__dropdown-img-wrapper {
    background-color: var(--color-highlight);
    padding: 35px 5.5% 60px;
}

.products-menu__dropdown-img-wrapper img {
    margin-bottom: 40px;
}

.products-menu__dropdown--small .products-menu__dropdown-img-wrapper img {
    width: 100%;
}

.products-menu__dropdown-img-wrapper div {
    font-size: 24px;
    margin-bottom: 14px;
}
.products-menu__dropdown-img-wrapper a {
    font-size: 18px;
    padding: 11px 26px 8px;
    display: inline-block;
    border-radius: 4px;
}
.products-menu__dropdown--small .products-menu__dropdown-img-wrapper a {
    background-color: var(--color-highlight);
}
.products-menu__dropdown--big .products-menu__dropdown-img-wrapper a {
    background-color: #000;
}

@media screen and (max-width:1420px) {
    .products-menu__dropdown--big .products-menu__dropdown-content {
        width: 1235px;
    }
}
@media screen and (max-width:1250px) {
    .products-menu__dropdown--small .products-menu__dropdown-content {
        top:100%;
    }
    .products-menu__dropdown--big .products-menu__dropdown-img-wrapper {
        padding: 35px 2.5% 60px;
    }
    .params__brands li:not(:first-child) {
        font-size: 20px;
    }
    .products-menu__dropdown--big .products-menu__dropdown-content {
        width: 1100px;
    }
}
@media screen and (max-width:1185px) {
    .products-menu__dropdown--small .products-menu__dropdown-content {
        width: 900px;
    }
}

@media screen and (max-width:1115px) {
    .products-menu__dropdown-content {
        font-size: 16px;
    }
    .params__brands li:not(:first-child) {
        font-size: 16px;
    }
    .products-menu__dropdown--big .products-menu__dropdown-img-wrapper {
        padding: 20px 1.5% 30px;
    }
    .products-menu__dropdown-item {
        padding-left: 2%;
        padding-right: 2%;
    }
    .params__container {
        padding-left: 2%;
    }
    .products-menu__dropdown--big .params__brands {
        padding-left: 4%;
    }
    .products-menu__dropdown--big .products-menu__dropdown-content {
        width: 970px;
    }
    .products-menu__dropdown-img-wrapper div {
        font-size: 20px;
    }
    .params__container {
        padding-left: 2%;
        padding-right: 2%;
        min-width: max-content;
    }
}
@media screen and (max-width:980px) {
    .products-menu__dropdown--big .products-menu__dropdown-content {
        width: 830px;
    }
}

@media screen and (max-width:915px) {
    .products-menu__dropdown--small .products-menu__dropdown-content {
        width: 750px;
        font-size: 16px;
    }
    .products-menu__dropdown--small .params__brands li:not(:first-child) {
        font-size: 18px;
    }
}
@media screen and (max-width:840px) {
    .products-menu__dropdown--big .params__brands-container {
        padding-right: 1%;
    }
    .products-menu__dropdown--big .products-menu__dropdown-content {
        width: 100%;
    }
}