.footer {
    padding: 5.2rem 4rem 5rem;
    background-color: #191919;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.footer__item {
    width: 33%;
}
.footer__item-heading {
    font-family: $text-yseva;
    font-size: 2.1rem;
}
.footer__item-decor {
    margin-top: 1.7rem;
    margin-bottom: 1.8rem;
}
.footer__decor-img {
    width: 50%;
}
.footer__item-text {
    line-height: 1.5;
}
.bold-text {
    font-weight: bold;
}

.footer-item-weekend {
    margin-top: 0.5rem;
}

.footer__item-street {
    line-height: 2;
}

.footer__item-socials,
.footer__item-cards {
    margin-top: 5rem;
}