.reviews {
    color: whitesmoke;
    padding: 10rem 0;
    background: url(../imgs/reviews_bg.png) center/cover;
}

.reviews__content {
    width: 61.6%;
    background: url(../imgs/reviews__content-bg.png);
    text-align: center;
    margin: 0 auto;
    padding: 8rem 7rem 10rem;
}

.reviews__title {
    font-size: 3.6rem;
    font-family: $text-yseva;
    text-align: center;
}

.reviews__decor {
    text-align: center;
    margin-top: 1.7rem;
}

.reviews__text {
    font-size: 2.5rem;
    line-height: 45px;
    font-family: $text-gentium;
    margin-top: 2.2rem;
}

.reviews__author {
    margin-top: 4rem;
    font-size: 1.8rem;
    font-family: $text-lato;
}